In [1]:
import pandas as pd

In [23]:
df1 = pd.read_csv("data.csv")
df2 = pd.read_csv("data2.csv")
df2.rename(columns={column: column + "2" for column in df2.columns}, inplace=True)
df = pd.concat([df1, df2], axis=1)

In [26]:
df['Material'].fillna("None", inplace=True)
df['Material2'].fillna("None", inplace=True)

In [27]:
df.loc[(df['Time'] != df['Time2']) | (df['Resource'] != df['Resource2']) | (df['Material'] != df['Material2'])]

,Unnamed: 0,Time,Resource,State,Activity,Expected End Time,Material,Target location,Unnamed: 02,Time2,Resource2,State2,Activity2,Expected End Time2,Material2,Target location2
3278,3278,2926.054616,TR2,TP1,start state,2926.537950,Material_3 instance N.230,R3,3278.0,2926.054616,TR1,TP1,start state,2926.537950,Material_3 instance N.230,R3
3280,3280,2926.537950,TR2,TP1,end state,2926.537950,Material_3 instance N.230,R3,3280.0,2926.537950,TR1,TP1,end state,2926.537950,Material_3 instance N.230,R3
3281,3281,2926.537950,TR2,TP1,start state,2927.354616,Material_3 instance N.230,R1,3281.0,2926.537950,TR1,TP1,start state,2927.021283,Material_3 instance N.230,R2
3282,3282,2927.354616,TR2,TP1,end state,2927.354616,Material_3 instance N.230,R1,3282.0,2927.021283,TR1,TP1,end state,2927.021283,Material_3 instance N.230,R2
3287,3287,2929.114239,TR2,TP1,start state,2929.597572,Material_2 instance N.219,R4,3287.0,2929.114239,R4,P3,start state,2946.486918,Material_3 instance N.231,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4441,4441,3995.612360,TR2,TP1,start state,3995.762360,Material_2 instance N.298,R1,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4442,4442,3995.762360,TR2,TP1,end state,3995.762360,Material_2 instance N.298,R1,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4443,4443,3995.762360,R1,P2,start state,4010.762360,Material_2 instance N.298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4444,4445,3999.619633,R3,Breakdownstate_2,start state,4029.619633,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4445,4444,3999.619633,R3,P1,start interrupt,4000.585105,Material_2 instance N.295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN