In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data.csv')

C:\Users\Sebas\AppData\Local\Temp\ipykernel_6416\1507164070.py:1: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data.csv')

In [5]:
df.head(20)

,Unnamed: 0,Time,Resource,State,Activtiy,Expected End Time,Material,Target location
0,0,14.532972,R3,Breakdownstate_2,start state,17.532972,NaN,NaN
1,1,34.609251,R1,P1,start state,51.965732,Material_1 instance N.0,NaN
2,2,44.532972,R3,Breakdownstate_2,end state,17.532972,NaN,NaN
3,3,47.596494,R3,Breakdownstate_2,start state,50.596494,NaN,NaN
4,4,51.789581,TR1,Breakdownstate_1,start state,54.789581,NaN,NaN
5,5,51.965732,R1,P1,end state,51.965732,Material_1 instance N.0,NaN
6,6,77.596494,R3,Breakdownstate_2,end state,50.596494,NaN,NaN
7,7,81.789581,TR1,Breakdownstate_1,end state,54.789581,NaN,NaN
8,8,81.789581,TR1,TP1,start state,81.845137,Material_1 instance N.0,R1
9,9,81.845137,TR1,TP1,end state,81.845137,Material_1 instance N.0,R1
10,10,81.845137,TR1,TP1,start state,81.900692,Material_1 instance N.0,R2
11,11,81.900692,TR1,TP1,end state,81.900692,Material_1 instance N.0,R2
12,12,81.900692,R2,P2,start state,96.900692,Material_1 instance N.0,NaN
13,13,89.448458,R3,P1,start state,104.338991,Material_1 instance N.1,NaN
14,14,93.487928,R1,P1,start state,97.266674,Material_2 instance N.2,NaN
15,15,96.900692,R2,P2,end state,96.900692,Material_1 instance N.0,NaN
16,16,96.900692,TR1,TP1,start state,96.956248,Material_1 instance N.0,R1
17,17,96.956248,TR1,TP1,end state,96.956248,Material_1 instance N.0,R1
18,18,96.956248,R1,P1,start state,113.169799,Material_1 instance N.0,NaN
19,19,97.266674,R1,P1,end state,113.169799,Material_1 instance N.0,NaN

In [6]:
df.loc[df['Material'] == "Material_2 instance N.2"]

,Unnamed: 0,Time,Resource,State,Activtiy,Expected End Time,Material,Target location
14,14,93.487928,R1,P1,start state,97.266674,Material_2 instance N.2,NaN
20,20,97.266674,TR1,TP1,start state,97.377785,Material_2 instance N.2,R3
21,21,97.377785,TR1,TP1,end state,97.377785,Material_2 instance N.2,R3
22,22,97.377785,R3,P3,start state,106.423757,Material_2 instance N.2,NaN
27,27,106.423757,R3,P3,end state,106.423757,Material_2 instance N.2,NaN
28,28,106.423757,TR1,TP1,start state,106.534869,Material_2 instance N.2,R3
29,29,106.534869,TR1,TP1,end state,106.534869,Material_2 instance N.2,R3
30,30,106.534869,TR1,TP1,start state,106.590424,Material_2 instance N.2,R2
31,31,106.590424,TR1,TP1,end state,106.590424,Material_2 instance N.2,R2
32,32,106.590424,R2,P2,start state,121.590424,Material_2 instance N.2,NaN
40,40,121.590424,R2,P2,end state,121.590424,Material_2 instance N.2,NaN
41,41,121.590424,TR1,TP1,start state,121.645980,Material_2 instance N.2,R2
42,42,121.645980,TR1,TP1,end state,121.645980,Material_2 instance N.2,R2
43,43,121.645980,TR1,TP1,start state,121.701535,Material_2 instance N.2,R1
44,44,121.701535,TR1,TP1,end state,121.701535,Material_2 instance N.2,R1
45,45,121.701535,R1,P1,start state,131.746433,Material_2 instance N.2,NaN
46,46,131.746433,R1,P1,end state,131.746433,Material_2 instance N.2,NaN